html,
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	
}

.main{
	min-height: 550px;
	color: white;
	 
}
body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.content{
	padding-top: 40px;
}

h1{
	font-size: 4em;
	font-weight: bold;
}

#list{
	margin-top: 15px;
}

#list li{
	margin-top: 15px;
}

.daily{
	display: block;
	margin: 0px auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.daily-temp{
	padding-left: 30px;
}

.icon{
	padding-right: 20px;
}

.red{
	color: #ff4759;
}

.blue{
	color: #66e6ff;
}

::-webkit-scrollbar { 
    display: none; 
}